#mainPageHeader{
    margin-top: 15px;
    width: 100%;
    height: 90px;
    background-image: linear-gradient(to right, rgb(220, 244, 255) , rgb(168, 227, 255));;
    background-repeat:no-repeat;
    overflow: hidden;
    float: right;
    display: inline-flex;
    z-index: 100;
}

#iconContainer{
    height: 100%;
    width: 8%;
    margin-left: 80px;
    display: flex;
    justify-content: center;
}

#nameContainer{
    height: 100%;
    width: 25%;
    margin-left: 3%;
}

#hiddenPart{
    height: 100%;
    width: 0px;
    overflow: hidden;
}

#headerSwitchContainer{
    height: 100%;
    width: 60%;
    /* margin-left: 6%; */
    display: inline-flex;
    justify-content: right;
}

.headerButton{
    cursor: pointer;
    font-family: STHeiti;
    height: 60px;
    width: 20%;
    margin-right: 2%;
    margin-top: 12px;
    transition: 0.3s ease;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.headerButton:hover{
    background: rgba(255, 255, 255, 0.5);
    color: #000042;
}

#accountStatusContainer{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    flex-direction: column;
    cursor: pointer;
}
#accountStatus{
    color: #2e2e2e;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20%;
    margin-top: 5px;
}
#accountInfo{
    color: #c91400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20%;
}
