<div style="display: flex;justify-content: center;align-items: center;flex-direction: row;">
	<h1 style="display: flex;flex-direction: row;">欢迎加入</h1>
	<p style="font-style: oblique;font-size: xx-large;margin-left: 10%;">NBI - Online</p>
</div>

<div style="margin-top: 1.25rem;display: flex;flex-direction: column;justify-content: center;align-items: center;">
	<div style="width: 94%;margin-left: 0;margin-top: 6px;height:2px;border-radius: 5%;background-color: #AAAAFF;"></div>
	<div style="width: 70%;">
		<p style="margin-top: 50px;">输入邮箱验证码完成注册</p>
		<a style="margin-left: 40%;color: darkrdarkred;text-align: center;font-size: xx-large;">{{ link }}</a>
	</div>
</div>