{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"/>

    <title>用户登录</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/userPage.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/header.css' %}">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

    <script language="JavaScript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script language="JavaScript" src="{% static 'js/userPageFunction.js' %}"></script>
    <script language="JavaScript" src="{% static 'js/generalFunction.js' %}"></script>
    <script language="JavaScript" src="{% static 'js/alert.js' %}"></script>
</head>
<body onload="userPageInit(); accountStatusCheck();">
    <!-- header -->
    <div id="mainPageHeader">
        <div id="iconContainer">
            <img src="{%static 'img/webicon.jpg' %}" style="height: 80%; align-self: center; border-radius: 8%">
        </div>
        <div id="nameContainer">
            <div style="width: 100%; text-align: left; height: 45%; display: inline-flex">
                <p style="font-size: 120%;font-style: italic;line-height: 90%;vertical-align: center;font-weight: bolder">
                     NBI
                </p>
                <p style="font-size: 120%;font-style: normal;line-height: 90%;vertical-align: center;font-weight: bolder;margin-left: 30px">
                     Image
                 </p>
                <p style="font-size: 120%;font-style: normal;line-height: 90%;vertical-align: center;font-weight: bolder;margin-left: 30px">
                     Transformer
                 </p>
            </div>
            <div style="width: 100%; text-align: left; height: 25%; display: inline-flex;cursor: pointer" onclick="jumpToIDMG()">
                <p style="font-size: 86%;margin-top: 4%;font-style: normal;line-height: 90%;vertical-align: center;">
                     BUPT
                </p>
                <p style="font-size: 86%;margin-top: 4%;font-style: normal;line-height: 90%;vertical-align: center;margin-left: 5px">
                     -
                </p>
                <p style="font-size: 86%;margin-top: 4%;font-style: normal;line-height: 90%;vertical-align: center;margin-left: 5px">
                     IDMG
                </p>
            </div>
        </div>
        <div id="hiddenPart">
            <p id="isLogin">0</p>
            <p id="resultImageDownloadUrl"></p>
            <p id="firstTimeShowSendInfo">1</p>
            <p id="firstTimeShowDownloadInfo">1</p>
        </div>
        <div id="headerSwitchContainer">
            <div id="accountStatusContainer" onclick="jumpToLogin()">
                <p id="accountInfo"></p>
                <p id="accountStatus"></p>
            </div>
            <div class="headerButton" id="singleImageProcess" onclick="jumpToMainPage()"><p>快捷处理</p></div>
            <div class="headerButton" id="batchImageProcess" onclick="jumpToBatchProcess()"><p>批量处理</p></div>
            <div class="headerButton" id="userCenter" onclick="jumpToUserCenter()"><p>用户中心</p></div>
        </div>
    </div>

    <!--主要容器-->
    <div id="mainContainer">
        <div id="mainContainerInner">
            <div id="switchBtnContainer">
				<button class="switchBtn" onclick="switchPage(1);" title="登录您的账号" id="user_loginBtn">登&emsp;&emsp;录</button>
				<button class="switchBtn" onclick="switchPage(2);" title="注册新的账号" id="user_registerBtn">注&emsp;&emsp;册</button>
			</div>
			<div style="width: 94%;margin-left: 3%;margin-top: 6px;height: 3px;border-radius: 5%;background-color: #AAAAFF;"></div>
            <div id="mainContainer_switch">
                <div id="mainContainer_switch_slider">
                    <!--账号登录-->
                    <div id="user_subPage_login">
                        <form method="post" id="UserLogin_form">
                            <p>
                                <label class="formLabel" for="UserLogin_form_ac">&emsp;&emsp;账号：</label>
                                <input class="formInput" id="UserLogin_form_ac" AUTOCOMPLETE="off" name="uac" type="text" placeholder="&emsp;输入注册邮箱"/>
                            </p>
                            <p>
                                <label class="formLabel" for="UserLogin_form_pw">账户密码：</label>
                                <input class="formInput" id="UserLogin_form_pw" AUTOCOMPLETE="off" name="upw" type="password" placeholder="&emsp;输入您的密码"/>
                            </p>
                            <p style="height: 35px;">
                                <input type="checkbox" id="rememAC" name="rememAC"/>
                                <label for="rememAC" style="margin-right:9rem;color: blue;font-size: 16px;line-height: 30px;">记住我</label>
                                <a class="fontLink" onclick="switchPage(2)">没有账号？立即注册</a>
                            </p>
                            <input type="button" id="loginBtn" onclick="loginCheck()" value="登&emsp;&emsp;录"/>
                        </form>
                    </div>

                    <!--账号注册-->
                    <div id="user_subPage_register">
                        <form method="post" id="registerForm">
                            <p>
                                <label class="formLabel" AUTOCOMPLETE='off' for="email">&emsp;&emsp;邮箱：</label>
                                <input class="formInput" id="register_email" name="email" type="text" placeholder="输入您的电子邮箱"/>
                            </p>
                            <p>
                                <label class="formLabel" for="validcode">&emsp;验证码：</label>
                                <input id="validcode" name="validcode" type="text" placeholder="输入验证码"/>
                                <input id="getValidcodeBtn" type="button" onclick="sendEmailCode()" value="发送" v-bind:value="userBtn" />
                            </p>
                            <p>
                                <label class="formLabel" for="pw">&emsp;&emsp;密码：</label>
                                <input class="formInput" oninput="showReliable(2)" id="register_pw" name="pw" type="password" placeholder="设置初始密码"/>
                            </p>
                            <div id="showLs">
                                <div id="showLs_block1"></div>
                                <div id="showLs_block2"></div>
                                <div id="showLs_block3"></div>
                            </div>
                            <p>
                                <label class="formLabel" for="pw2">确认密码：</label>
                                <input class="formInput" id="pw_check" name="pw_check" type="password" placeholder="设置初始密码"/>
                            </p>
                            <div style="margin-top: 10px;display: flex;flex-direction: row;width: 100%;justify-content: center;">
                                <p style="font-size: small;color: dimgray;margin-right: 8px;">注册即代表同意</p>
                                <p class="fontLink" style="font-size: 12px;">用户协议</p>
                            </div>
                            <input type="button" id="emailRegisterBtn" onclick="registerCheck()" value="注&emsp;&emsp;册"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- slogan -->
        <div id="slogan">
            <p>-&emsp;登录NBI_Online解锁完整功能&emsp;-</p>
        </div>
    </div>

</body>
</html>