@font-face {
  font-family: "iconfont"; /* Project id 3607094 */
  src: url('iconfont.woff2?t=1680167647513') format('woff2'),
       url('iconfont.woff?t=1680167647513') format('woff'),
       url('iconfont.ttf?t=1680167647513') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhinengyouhua:before {
  content: "\e69a";
}

.icon-quit-line:before {
  content: "\ea06";
}

.icon-shaixuan:before {
  content: "\e654";
}

