@font-face {
  font-family: "iconfont"; /* Project id 3607094 */
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  src: url('iconfont.woff2?t=1680167647513') format('woff2'),
       url('iconfont.woff?t=1680167647513') format('woff'),
       url('iconfont.ttf?t=1680167647513') format('truetype');
=======
  src: url('iconfont.woff2?t=1661303500156') format('woff2'),
       url('iconfont.woff?t=1661303500156') format('woff'),
       url('iconfont.ttf?t=1661303500156') format('truetype');
>>>>>>> parent of aea515e2 (🐞 fix(Front): 统一全局CSS样式，与修复gitignore)
=======
  src: url('iconfont.woff2?t=1661303500156') format('woff2'),
       url('iconfont.woff?t=1661303500156') format('woff'),
       url('iconfont.ttf?t=1661303500156') format('truetype');
>>>>>>> parent of aea515e2 (🐞 fix(Front): 统一全局CSS样式，与修复gitignore)
=======
  src: url('iconfont.woff2?t=1661303500156') format('woff2'),
       url('iconfont.woff?t=1661303500156') format('woff'),
       url('iconfont.ttf?t=1661303500156') format('truetype');
>>>>>>> parent of aea515e2 (🐞 fix(Front): 统一全局CSS样式，与修复gitignore)
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.icon-zhinengyouhua:before {
  content: "\e69a";
}

.icon-quit-line:before {
  content: "\ea06";
}

=======
>>>>>>> parent of aea515e2 (🐞 fix(Front): 统一全局CSS样式，与修复gitignore)
=======
>>>>>>> parent of aea515e2 (🐞 fix(Front): 统一全局CSS样式，与修复gitignore)
=======
>>>>>>> parent of aea515e2 (🐞 fix(Front): 统一全局CSS样式，与修复gitignore)
.icon-shaixuan:before {
  content: "\e654";
}

